{% extends "base.html" %} {% import 'macros.html' as macros %}
{% block content %}

<div class="col-md-4 col-md-offset-4">

      <div align="center">
        <h2>Vap-rWare TM</h2>
      </div>

<hr>

<hr>

<form method="post" action="/index"  id="db_post_juice" name="db_post_juice">

    {{ formjuice.hidden_tag() }}

    {{ macros.render_field(formjuice.dbJuiceIndex, placeholder='Enter index', type='dbJuiceIndex', label_visible=false) }}
    {{ macros.render_field(formjuice.dbJuiceName, placeholder='Enter Name', type='dbJuiceName', label_visible=false) }}
    {{ macros.render_field(formjuice.dbJuiceNicotine, placeholder='Enter Nicotine', type='dbJuiceNicotine', label_visible=false) }}
    {{ macros.render_field(formjuice.dbJuiceType, placeholder='Enter Type', type='dbJuiceType', label_visible=false) }}

    <div align="center"><button type="submit" class="btn btn-primary">Submit</button></p></div>

</form>

<hr>

<hr>

<form method="post" action="/juices"  id="db_get" name="db_view">
    <div align="center"><button type="submit" class="btn btn-primary">Retrieve all Juices</button></p></div>
</form>
</div>

{% endblock %}  